<html>
  <head>
    <<title>Manlo</title>
  </head>
  <body>
    <h1 align="center">Time Table Of BCA (Hons.)</h1>
    <table border="2" align="center">
    <tr>
    <th>Time</th>
    <th>Monday</th>
    <th>Tuesday</th>
    <th>Wednesday</th>
    <th>Thursday</th>
    <th>Friday </th>
    </tr>
    <tr>
    <td>9-10</td>
    <th>Practical / G:1<br>C:CAP374 / R: 38-605<br>A / S:D1E01</th>
    <th>Practical / G:1 <br>C:CAP189 / R: 38-709 / S:D1714</th>
    <th>Lecture / G:All <br>C:MGN313 / R: 38-503 <br>/ S:D1714</th>
    <th></th>
    <th>Practical / G:1 <br>C:CAP902 / R: 38-605 <br>B / S:D1E10</th>
    </tr>
    <tr>
    <td>10-11</td>
    <th>Practical / G:1 <br>C:CAP374 / R: 38-605 <br>A / S:D1E01</th>
    <th>Practical / G:1 <br>C:CAP189 / R: 38-709 <br>/ S:D1714</th>
    <th>Practical / G:1 <br>C:CAP189 / R: 38-709 <br>/ S:D1714</th>
    <th></th>
    <th>Practical / G:1 <br>C:CAP902 / R: 38-605 <br>B / S:D1E10</th>
    </tr>
    <tr>
    <td>11-12</td>
    <th>Lecture / G:All <br>C:MGN313 / R: 38-914 <br>/ S:D1714</th>
    <th>Practical / G:1 <br>C:CAP374 / R: 38-605 <br>A / S:D1E01</th>
    <th> Lecture / G:All <br>C:MGN313 / R: 38-504 <br>/ S:D1714</th>
    <th> Practical / G:1 <br>C:CAP902 / R: 38-605 <br>B / S:D1E10</th>
    <th></th>
    </tr>
    <tr>
    <td>1-2</td>
    <th></th>
    <th></th>
    <th></th>
    <th>Practical / G:1 <br>C:CAP902 / R: 38-605 <br>B / S:D1E10</th>
    <th></th>
    </tr>
    <tr>
    <td>2-3</td>
    <th>Lecture / G:All <br>C:HRM301 / R: 34-101A <br>/ S:K1M08</th>
    <th>Lecture / G:All <br>C:HRM301 / R: 34-101A <br>/ S:K1M08</th>
    <th>Lecture / G:All <br>C:HRM301 / R: 34-101A <br>/ S:K1M08</th>
    <th></th>
    <th>Practical / G:1 <br>C:CAP374 / R: 38-605 <br>A / S:D1E01</th>
    </tr>
    <tr>
    <td>3-4</td>
    <th> Practical / G:2 <br>C:CAP917 / R: 38-605 <br>B / S:DE045</th>
    <th> Practical / G:2 <br>C:CAP917 / R: 38-605 <br>B / S:DE045</th>
    <th> Practical / G:2 <br>C:CAP917 / R: 38-605 <br>B / S:DE045</th>
    <th>Practical / G:2 <br>C:CAP916 / R: 38-605 <br>A / S:DE043</th>
    <th>Practical / G:2 <br>C:CAP916 / R: 38-605 <br>A / S:DE043</th>
    </tr>
    </table>
  </body>
  </html>
